@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin mainRight-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 20px 0px 20px;
}
