@mixin mainRight-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 20px 0px 20px;
}

.shinMain {
  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 1px solid #e7e7e7;

    .navTopLogo {
      display: flex;
      flex-wrap: nowrap;

      .instagramLogo {
        width: 40px;
        padding-right: 10px;
        border-right: 2.5px solid black;
      }

      .instagram {
        padding-left: 9px;
        font-size: 25px;
        font-family: 'Lobster', cursive;
      }
    }

    .searchBar {
      width: 280px;
      padding-top: 5px;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
      background-color: #fafafa;
      font-size: 14px;

      .searchIcon {
        width: 15px;
        margin-left: 10px;
        padding-right: 5px;
      }
    }

    .navRight {
      display: flex;
      justify-content: space-around;

      .exploreIcon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
      }

      .heartIcon {
        width: 25px;
        height: 25px;
        margin-right: 15px;
      }

      .profileIcon {
        width: 25px;
        height: 25px;
      }
    }
  }

  span,
  p {
    vertical-align: baseline;
  }

  main {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #fafafa;

    #feeds {
      border: 1px solid #e7e7e7;

      article {
        padding: 20px 20px 0px 20px;

        .feedArticle {
          display: flex;
          align-items: center;

          .feedArticleProfile {
            display: flex;
            align-items: center;

            .feedProfile {
              width: 32px;
              height: 32px;
              border-radius: 100px;
              margin-bottom: 20px;
            }
            .feedNickname {
              display: inline-block;
              padding-left: 10px;
            }
          }
        }

        .feedPicture {
          height: 500px;
          width: 500px;
        }

        .feedBtn {
          margin-top: 5px;

          .heartBtn {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }

          .commentBtn {
            margin-right: 10px;
            width: 24px;
            height: 24px;
          }

          .shareBtn {
            width: 24px;
            height: 24px;
          }
        }
      }
      .likes {
        display: flex;
        align-items: center;
        padding: 0px 20px 0px 20px;

        .mainRightStoryProfile1 {
          margin-top: 5px;
          width: 32px;
          height: 32px;
          border-radius: 100px;
        }
      }

      .description {
        padding: 5px 20px 10px 20px;
        border: 5px 5px 5px 5px;

        .descriptionNickname {
          font-weight: bold;
        }
      }

      .comments {
        height: 36px;
        input {
          width: 100%;
          background-color: #fafafa;
          border: 1px solid #e7e7e7;
          border-left: 0px;
          border-right: 0px;
          padding: 10px 10px;
          margin-bottom: 0px;
        }
        button {
          position: relative;
          top: -27px;
          left: 500px;
          color: #d8ebfc;
          border: 0px;
          background-color: #fafafa;
        }
      }
    }

    #main-right {
      .mainRightMe {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 3px 20px 0px 20px;
        p {
          padding-left: 20px;
          font-weight: bold;
        }
        .myProfile {
          width: 32px;
          height: 32px;
          border-radius: 100px;
        }
        .myNickname {
          color: #999999;
        }
      }

      .mainRightStory {
        width: 325px;
        height: 170px;
        border: 2px solid #e7e7e7;
        margin-left: 20px;
        margin-bottom: 10px;

        .mainRightStoryIndex {
          display: flex;
          justify-content: space-between;

          h3 {
            display: inline;
            font-size: 14px;
            padding: 15px 20px 0px 20px;
            font-size: 15px;
            font-weight: bold;
          }

          .stories {
            color: #999999;
          }
        }

        .mainRightStory1 {
          @include mainRight-center;

          .mainRightStoryProfile1 {
            margin-top: 5px;
            width: 32px;
            height: 32px;
            border-radius: 100px;
          }

          .mainRightStoryTime1 {
            color: #999999;
          }
        }

        .mainRightStory2 {
          @include mainRight-center;

          .mainRightStoryProfile2 {
            width: 32px;
            height: 32px;
            border-radius: 100px;
          }

          .mainRightStoryTime2 {
            color: #999999;
          }
        }

        .mainRightStory3 {
          @include mainRight-center;

          .mainRightStoryProfile3 {
            width: 32px;
            height: 32px;
            border-radius: 100px;
          }

          .mainRightStoryTime3 {
            color: #999999;
          }
        }
      }

      .mainRightSuggestions {
        width: 325px;
        height: 170px;
        border: 2px solid #e7e7e7;
        margin-left: 20px;
        margin-bottom: 10px;

        .mainRightSuggestionsIndex {
          display: flex;
          justify-content: space-between;

          h3 {
            padding: 15px 20px 0px 20px;
            font-size: 15px;
            font-weight: bold;
          }

          .suggestion {
            color: #999999;
          }
        }
      }
    }
  }
}
