.ShinComment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;

  section {
    .userName {
      font-weight: bold;
    }
  }

  img {
    width: 15px;
    height: 15px;
  }
}
